<%- include ('./partials/header.ejs') %>
<div class="ui main text container">
<div class="ui huge header">
<h1>RESTful Blog App</h1>
</div>
<div class="ui top attached segment">
  
<% blogs.forEach(function(blog){ %>
 <div class="item">
    <div class="ui image"> 
       <img src="<%= blog.image %>">
    </div>  
  <div>
    <div class="ui header">  
      <h3><%= blog.title %></h3>
    </div>  

    <div class="ui discription">
       <p><%= blog.body.substring(0,100) %>...</p>
    </div>

    <div class="ui voilet basic button">
       <a href="/blogs/<%=blog._id %>">Read More<i class="chevron right icon"></i></a>
    </div>
  </div>  
</div>
<div class="ui divider"></div>
 

<% }); %>
</div>
</div>

<%- include ('./partials/footer.ejs') %>